/* 공통 */
html , body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-left: 5%;
}
.main-box{
  width: 1400px;
  --background-color: rgb(245, 245, 245);
  margin: auto;
  height: 1150px;
}
div{
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}

#main-img{
    width: 100%;
    height: 308px;
    margin:auto;
}
#header-top{
    width: 100%;
    height: 80%;
  display: grid;
    grid-template-columns: 2fr 5fr 2fr; /* 2:5:2 비율 */
}
#header-bot{
    width: 111%;
    height: 40px;
}
#navi-home>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}

#navi-info>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#navi-qna>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#navi-chat>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#navi-photo>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#logo-box{
    width: 100%;
    height: 100%;
}
#logo-box, #member-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#member-box{
  flex-direction: column;
}
#navi{
    width: 90%;
    height: 100%;
    background-color: rgb(92, 154, 193);
    color: white;
    font-size: 1.3rem;
    display: grid;
    --grid-template-columns: repeat(5 , 1fr); /* 1fr 4번 반복 */
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#navi > div{
    width: 100%;
    height: 100%;
    display: flex; 			  /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

#navi-home{
  text-align: right;
  margin: 0 auto;
  padding: 0;
}
#navi-home>a:hover,#navi-info>a:hover,#navi-qna>a:hover,#navi-chat>a:hover{
	color: rgb(201, 240, 238);
}
#community-info{
  width: 750px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 240px;
  left: 650px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
  text-shadow: 4px 4px 4px rgb(0 0 0 / 50%);
}

.main-content{
  display: flex;
  --justify-content: space-evenly;
}

.second-box {
  width: 1000px;
  height: 670px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  border: 2px solid lightgrey;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  --background-image: url('../resources/img/community/monitor.jpg');
  background-repeat : no-repeat;
  background-size : 100% 95%;
  margin-top: 25px;
  margin-left: 140px;
}
#post-area {
    --border: 1px solid black;
    background: white;
    width: 950px;
    height: 533px;
    border-radius: 2%;
    margin-top: -47px;
    margin-left: -30px;
}
#first-box-title, #second-box-title, #third-box-title {
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 24px;
}
#second-box-content-title {
  text-align: left;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

#second-box-title-line, #third-box-title-line{
  border-top: solid black 2px;
  width: 90%;
  height: 10px;
  margin: auto;
}
#second-box-content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr 6fr 1fr 1.5fr 1fr;
  grid-template-rows: repeat(16 , 45px);
  align-content: center;
  text-align: left;
}

#second-box-content>div{
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 10px;
}
#first-box-title-line{
  border-top: solid black 2px;
  width: 90%;
  height: 0px;
  margin: auto;
}
#none-left{
  width: 150%;
}
#navi-info{
  background-color: rgb(92, 154, 193);
}


#second-box-title-line{
  border-top: solid black 2px;
  width: 80%;
  height: 0px;
  margin: auto;
}

#paging{
  width: 100%;
  text-align: center;
  font-size: 18px;
}

#search-type{
  width: 20%;
  background-color: rgb(245, 245, 245);
  height: 30px;
  font-size: 22px;
  margin-left: 40%;
  border-radius: 20%;
}

#search-type>img{
  position: absolute;
  left: 690px;
}
.write-btn{
   text-align: right;
   margin-right: 7%;
   margin-top: 30px;
   width: 470px;
}

.write-btn{
   text-align: right;
   margin-right:43%;
}
#write-btn{
  background-color: rgb(52, 152, 219);
  border: 0px;
  color: white;
  height: 27px;
  width: 70px;
  border-radius: 10%;
}

#write-btn:hover{
  background-color: rgb(231, 76, 60);
  color: white;
}

#write-title{
	width: 700px;
}

#article-tag{
	width: 500px;
}
#title{
	width: 65%
}

#content{
	width: 94%;
	height: 285px;
}
#category, #title, #content, #file{
	margin-left: 2%;
	height: 30px;
}

#navi-home>a{
	text-decoration-line : none;
}
#navi-info>a{
	text-decoration-line : none;
}
#navi-qna>a{
	text-decoration-line : none;
}
#navi-chat>a{
	text-decoration-line : none;
}
#summernote{
	margin-left: 23px;
	height: 400px;
	width: 850px;
}
.note-editor note-frame card{
	width: 30px;
}
#post-background{
	margin-left: 20px;
}
.writer-info{
	padding: 0 auto;
	margin-left: 0;
	margin-bottom: 10px;
}
#memberNo{
	border: 1px solid orange;
}