/* 공통 */
html , body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
    width: 80%;
    margin-left: 5%;
}

.main-box{
  width: 1200px;
  background-color: white;
  --background-color: rgb(245, 245, 245);
  margin: auto;
  height: 1470px;
}
div{
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
#main-img{
  width: 100%;
  height: 600px;
  margin:auto;
}
#header-top{
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr; /* 2:5:2 비율 */
}
#header-bot{
  width: 111%;
  height: 40px;
}

#navi-home{
	color: white;
}

#logo-box{
  width: 100%;
  height: 100%;
}
#logo-box, #member-box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#member-box{
  flex-direction: column;
}
#navi{
  width: 90%;
  height: 100%;
  background-color: rgb(92, 154, 193);
  color: white;
  font-size: 1.3rem;
  display: grid;
  --grid-template-columns: repeat(5 , 1fr); /* 1fr 4번 반복 */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#navi-home>a:hover,#navi-info>a:hover,#navi-qna>a:hover,#navi-chat>a:hover{
	color: rgb(201, 240, 238);
}
#navi > div{
  width: 100%;
  height: 100%;
  display: flex; 			  /* 가운데 정렬 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

#navi-home>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}

#navi-info>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#navi-qna>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#navi-chat>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}
#navi-photo>a{
  text-align: right;
  margin: 0 auto;
  padding: 0;
  color: white;
}

#community-community{
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 350px;
  left: 560px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
  text-shadow: 4px 4px 4px rgb(0 0 0 / 50%);
}

.main-content{
  display: flex;
  --justify-content: space-evenly;
}

.second-box {
  width: 1000px;
  height: 370px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  --left: 470px;
  top: 1060px;
  border: 2px solid lightgrey;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-left: 200px;
}
#first-box-title, #second-box-title, #third-box-title {
  text-align: left;
  margin-top: 1%;
  margin-left: 5%;
  font-size: 24px;
  height: 50px;
}
#second-box-title > div{
  height: 100%;
}
#second-box-content-title {
  text-align: left;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

#second-box-title-line, #third-box-title-line{
  border-top: solid black 2px;
  width: 90%;
  height: 10px;
  margin: auto;
}
#second-box-content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 4fr 1fr 1fr 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6 , 40px);
    align-content: center;
    text-align: left;
    margin-left: 15%;
    margin-top: 30px;
}

#second-box-content>div{
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0;
}
#second-box-content-title{
	background-color: lightgrey;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	margin: 0 auto;
}
#none-left{
  width: 150%;
}
#navi-info{
  background-color: rgb(92, 154, 193);
}

#top-hashtag{
  width: 170px;
  height: 340px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  border: 1px solid rgba(111,111,111,0);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  --margin-left: 10px;;
  border: 2px solid rgba(250, 128, 114, 0.7);
}
#second-box-title-line{
  border-top: solid black 2px;
  width: 80%;
  height: 0px;
  margin: auto;
}

#top-hashtag-title{
  font-size: 20px;
  text-align: center;
  --margin-top: 2%;
  margin-bottom: 5%;
}

#top-hashtag-list {
    background-color: lightgray;
    width: 70%;
    margin-left: 15%;
    border-radius: 15%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#paging{
  width: 500px;
  text-align: center;
  font-size: 18px;
  margin-left: 450px;
}

#search-type{
  width: 20%;
  background-color: rgb(245, 245, 245);
  height: 30px;
  font-size: 22px;
  margin-left: 40%;
  border-radius: 20%;
}

#search-type>img{
  position: absolute;
  left: 690px;
}
.first-box {
  width: 1000px;
  height: 250px;
  background: rgba(255,255,255,1);
  opacity: 1;
  --position: absolute;
  --top: 475px;
  left: 470px;
  border: 1px solid rgba(111,111,111,0);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border: 2px solid lightgrey;
  --border: 2px solid rgb(201, 240, 238);
  margin-left: 200px;
}

#first-box-title-line{
  border-top: solid black 2px;
  width: 90%;
  height: 0px;
  margin: auto;
}
#top-hit{
  height: 65%;
  width: 26%;
  float: left;
  margin: 1px 55px 3px 4px;
  padding: 1px 2px 3px 4px;
  background-color: rgb(245, 245, 245);
  border-radius: 5%;
}
#top-hit:hover, #top-like:hover, #top-comment:hover{
  opacity: 0.4;
}
#top-like{
  height: 65%;
  width: 26%;
  float: left;
  margin: 1px 55px 3px 4px;
  padding: 1px 2px 3px 4px;
  background-color: rgb(201, 240, 238);
  border-radius: 5%;
}
#top-comment{
  height: 65%;
  width: 26%;
  float: left;
  margin: 1px 55px 3px 4px;
  padding: 1px 2px 3px 4px;
  background-color: rgb(245, 245, 245);
  border-radius: 5%;
}

#first-box-top-list{
  height: 87%;
  width: 100%;
  margin-left: 5%;
}
#top-hit-title, #top-like-title, #top-comment-title{
  font-size: 15px;
  margin-top: 7px;
  margin-left: 20px;
  color: rgba(69, 69, 69, 0.7);
  --color: rgb(69, 69, 69);
  font-weight: 700;
}

#top-hit-content, #top-like-content, #top-comment-content{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  color: black;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#top-hit-writer, #top-like-writer, #top-comment-writer{
  font-size: 15px;
  margin-top: 22px;
  margin-left: 20px;
  color: black;
  font-weight: 500;
}
#first-box-content-title{
  font-size: 16px;
  font-weight: 700;
}
.third-box {
  width: 1000px;
  height: 590px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1450px;
  --left: 470px;
  border: 2px solid lightgrey;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 200px;
}
#third-box-content>img{
  margin-left: 2%;
  margin-right: 0.5%;
}
#third-box-content{
  margin-top: 0.5%;
  margin-left: 3%;
}
#main-best-arrow, #main-info-arrow, #main-photo-arrow{
	margin-left: 920px;
}
#main-paging{
  width: 100%;
  margin: auto;
  text-align: center;
}
#main-top-btn, #main-info-btn, #main-photo-btn{
  margin-left: 72%;
  background-color: rgb(92, 154, 193);
  border: 0px;
  color: white;
  height: 25px;
  width: 50px;
  border-radius: 10%;
  font-size: 15px;
}
#top-hashtag-title2{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;  
  margin-top: 7%
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.waviy{
  position: relative;
  -webkit-box-reflect: below -40px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 130px;
  font-weight: 700;
  letter-spacing: -7px;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  --text-transform: uppercase;
  animation: waviy 1.5s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

#loginUser{
	border: 2px solid rgb(92, 154, 193);
	height: 300px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%)
}
#main-top-btn:hover{
  background-color: rgb(201, 240, 238);
  color: rgb(45, 45, 45);
}
#current-loginMember{
	margin-left: 13%;
	margin-top: 5%;
	font-weight: 500;
	font-size: 17px;
}
#myId{
	color: salmon;
	font-size: smaller;
}
#title-atag, #page-btn{
	color: rgb(45, 45, 45);
}
#top-hit-content-aTag{
	color: rgb(45, 45, 45);
}
#title-atag{
  	font-size: 15px;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
#top-hit-content-aTag,#top-like-content{
  font-size: 18px;
}
#top-hashtag-list:hover{
	opacity: 0.4;
}
#ad>div:hover{
	opacity: 0.4;
}
#third-box-content>img:hover{
	opacity: 0.4;
}
#loginUser:hover{
	opacity: 1 !important;
}
#main-img-size{
	margin-left: 20%;
	width: 100%;
}

.second-box{
	border: 3px solid red;
  background-color: rgb(201, 240, 238);
}

#second-box-content-title, #title-atag{
	--border: 1px solid red;
}
.title-atag{
	--border: 1px solid blue;
}
.write-btn{
   text-align: right;
   margin-top: 40px;
   margin-left: 1180px;
   width: 100px;
}
#write-btn{
  background-color: rgb(52, 152, 219);
  border: 0px;
  color: white;
  height: 27px;
  width: 50px;
  border-radius: 10%;
  font-size: 15px;
}
#write-btn:hover{
  background-color: rgb(231, 76, 60);
  color: white;
}
.search-area{
	width: 200px;
}
.search-form{
	width: 200px;
}
.search-field {
	margin-bottom: 100px;
	width: 400px;
	border-radius: 50px;
	border: 0px;
	margin-left: 500px;
	margin-top: 40px;
}

.select {
	--margin-left: 10px;
	font-size: 15px;
	width: 70px;
	background-color: rgb(52, 152, 219);
	border-radius: 10%;
	color: white;
	height: 30px;
}

.search-field>* {
	cursor: pointer;
	border: 0px;
	--outline: none;
	height: 30px;
}

.search {
	width: 220px;
	height: 30px;
	cursor: text;
	--background-color: rgba(52, 152, 219, 0.5);
	border: 1px solid lightgrey;
}
#search-btn{
	width: 50px;
	border-radius: 10%;
}
#paging{
	margin-top: 20px;
	font-size: 15px;
}
h2{
	margin-left: 180px;
}
